<h1>Bienvenue {{ user.username }} !</h1>
<p>Merci de vous être inscrit sur notre site. Veuillez cliquer sur le lien ci-dessous pour confirmer votre inscription :</p>
<a href="{{ validationLink }}">Confirmer mon inscription</a>
<p>Si vous n'avez pas initié cette inscription, ignorez cet e-mail.</p>
